[submodule "docs/theme"]
	path = docs/theme
	url = https://github.com/byrnereese/mkdocs-bootstrap4.git
[submodule "docs/adr-templates"]
	path = docs/adr-templates
	url = https://github.com/vincent-ledu/adr-template.git
